
<div class="hero-body">
  <div class="container">
    <app-section-header title="Projects" subtitle="Different types of projects, fullstack and app development"></app-section-header>
    <section class="section">
      <div class="container">
        <h1 class="title is-3">
          Highlight projects
        </h1>
        <ng-container *ngFor="let item of infoPersonal">
          <div class="columns">
            <div class="column">
              <figure class="image">
                <img *ngIf="item.img" src={{item.img}}>
                <img *ngIf="!item.img" src="https://bulma.io/images/placeholders/600x480.png">
              </figure>
            </div>
            <div class="column content-text">
                <strong>{{item.title}}</strong>
                <br>
              <div class="box">
                {{item.description}}
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </section>
    <section class="section">
      <div class="container">
        <h1 class="title is-3">
          Demo projects
        </h1>
        <ng-container *ngFor="let item of infoDemo">
          <div class="columns">
            <div class="column">
              <figure class="image">
                <img *ngIf="item.img" src={{item.img}}>
                <img *ngIf="!item.img" src="https://bulma.io/images/placeholders/600x480.png">
              </figure>
            </div>
            <div class="column content-text">
                <strong>{{item.title}}</strong>
                <br>
              <div class="box">
                {{item.description}}
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </section>
  </div>
</div>