<!-- Hero head: will stick at the top -->
<div class="hero-head">
  <nav class="navbar">
    <div class="container">
      <div class="navbar-brand" style="padding-top: 10px; line-height: 36px;">
        <a class="navbar-item" routerLink="/home" [routerLinkActive]="['is-active']">
          <!-- <img src="https://bulma.io/images/bulma-type-white.png" alt="Logo"> -->
          <h1 class="header title">JIA WEI HO</h1>
        </a>
        <span class="navbar-burger" data-target="navbarMenuHeroA">
          <span></span>
          <span></span>
          <span></span>
        </span>
      </div>
      <div id="navbarMenuHeroA" class="navbar-menu">
        <div class="navbar-end">
          <a class="navbar-item" routerLink="/projects" [routerLinkActive]="['is-active']">
            PROJECTS
          </a>
          <a class="navbar-item" routerLink="/cv" [routerLinkActive]="['is-active']">
            CV
          </a>
          <!-- <span class="navbar-item">
            <a class="button is-primary ">
              <span class="icon">
                <i class="fab fa-github"></i>
              </span>
              <span>Resume</span>
            </a>
          </span> -->
        </div>
      </div>
    </div>
  </nav>
</div>