/* You can add global styles to this file, and also import other style files */
@charset "utf-8";
// Import a Google Font
@import url('https://fonts.googleapis.com/css2?family=Arimo&family=Didact+Gothic&display=swap');

html, body { height: 100%; }


// Set your brand colors
$dark-blue: #3E606F;
$brown: #757763;
$beige-light: #D0D1CD;
$beige-lighter: #EFF0EB;

$black: #000000;
$light-blue: #ffffff;
//$green-text: rgb(96, 255, 217);

// Update Bulma's global variables
$family-sans-serif: "Arimo", sans-serif;
$grey-dark: $dark-blue;
$grey-light: $beige-light;
$primary: $black;
$link: $dark-blue;
$widescreen-enabled: false;
$fullhd-enabled: false;
$body-color: $black;

// Update some of Bulma's component variables
$body-background-color: $light-blue;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

$fa-font-path: "../webfonts";

// Import only what you need from Bulma
@import "../node_modules/bulma/sass/utilities/_all.sass";
@import "../node_modules/bulma/sass/base/_all.sass";
@import "../node_modules/bulma/sass/elements/button.sass";
@import "../node_modules/bulma/sass/elements/container.sass";
@import "../node_modules/bulma/sass/elements/title.sass";
@import "../node_modules/bulma/sass/elements/image.sass";
@import "../node_modules/bulma/sass/elements/icon.sass";
@import "../node_modules/bulma/sass/form/_all.sass";
@import "../node_modules/bulma/sass/components/navbar.sass";
@import "../node_modules/bulma/sass/layout/hero.sass";
@import "../node_modules/bulma/sass/layout/section.sass";
@import "../node_modules/bulma/sass/grid/columns.sass";
@import "../node_modules/bulma/sass/grid/tiles.sass";

@import "../node_modules/@fortawesome/fontawesome-free/scss/brands.scss";
@import "../node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "../node_modules/@fortawesome/fontawesome-free/scss/regular.scss";
@import "../node_modules/@fortawesome/fontawesome-free/scss/solid.scss";
@import "../node_modules/@fortawesome/fontawesome-free/scss/v4-shims.scss";
@import "../node_modules/@fortawesome/fontawesome-free/scss/icons.scss";

h1.title {
  font-family: 'Didact Gothic';
  font-weight: 500;
}

h1.header.title {
  font-family: 'Didact Gothic';
  font-weight: 400;
  color: #3E606F;
}

h2.title {
  font-family: 'Didact Gothic';
  font-weight: 400;
}
h2.subtitle {
  font-family: 'Didact Gothic';
  font-weight: 300;
}

.navbar-item {
  font-family: 'Didact Gothic';
  font-weight: 400;
  font-size: 24px;
}

div.content-text {
  font-family: 'Arimo';
  font-size: 1rem;
}

column.is-primary {
  max-width: 450px;
  
}

.hero-body {
  padding-top: 2px;
}

.box-style {
  margin-bottom: 0.4rem;
}

.block:not(:last-child) {
  margin-bottom: 1.5rem;
}

.block2:not(:last-child) {
  margin-bottom: 2rem;
}

hr {
  background-color: #ebebeb;
}