.custom-circle {
  font-size: 3.2rem;
}

.custom-icon {
  padding-left:3px;
  font-size: 1.4rem;
}

.link-social {
  font-size: 16px;
}

.social-rows {
  padding-bottom: 8px;
  display: flex;
  align-items: center;
}