<div class="columns">
  <div class="column is-primary is-8">
    <h1 class="title is-3">
      About
    </h1>
    {{infoText}}
  </div>
  <div class="column is-danger">
    <h1 class="title is-3">
      Contacts
    </h1>
    <div>
      <span class="icon is-large">
        <i class="fab fa-lg fa-2x fa-linkedin-in"></i>
      </span>
      <span>
        <a href="https://linkedin.com/in/jiaweiho">LinkedIn</a>
      </span>
    </div>
    <div>
      <span class="icon is-large">
        <i class="fab fa-lg fa-2x fa-github"></i>
      </span>
      <span>
        <a href="https://github.com/jiaweiho">GitHub</a>
      </span>
    </div>
    <div>
      <span class="icon is-large">
        <i class="fas fa-lg fa-2x fa-envelope"></i>
      </span>
      <span>
        <a href="mailto:jiwei.ho@gmail.com">email</a>
      </span>
    </div>
  </div>
</div>
