<div class="columns">
  <div class="column is-primary is-8 content-text">
    <h1 class="title is-3">
      About Me
    </h1>
    {{infoText}}
  </div>
  <div class="column is-1"></div>
  <div class="column">
    <h1 class="title is-3">
      Contacts
    </h1>
    <div class="social-rows">
      <span class="icon is-large fa-stack fa-2x">
        <i class="fas fa-circle fa-stack-2x custom-circle"></i>
        <i class="fab fa-stack-1x fa-linkedin-in custom-icon" style="color:#0072b1"></i>
      </span>
      <span style="padding-left: 10px; vertical-align: sub;">
        <a class="link-social" href="https://linkedin.com/in/jiaweiho">LinkedIn</a>
      </span>
    </div>
    <div class="social-rows">
      <span class="icon is-large fa-stack fa-2x">
        <i class="fas fa-circle fa-stack-2x custom-circle"></i>
        <i class="fab fa-stack-1x fa-github custom-icon" style="color: #fff;"></i>
      </span>
      <span style="padding-left: 10px; vertical-align: sub;">
        <a class="link-social" href="https://github.com/jiaweiho">GitHub</a>
      </span>
    </div>
    <div class="social-rows">
      <span class="icon is-large fa-stack fa-2x">
        <i class="fas fa-circle fa-stack-2x custom-circle"></i>
        <i class="fas fa-stack-1x fa-envelope custom-icon" style="color: #fff;"></i>
      </span>
      <span style="padding-left: 10px; vertical-align: sub;">
        <a class="link-social" href="mailto:jiwei.ho@gmail.com">Email</a>
      </span>
    </div>
  </div>
</div>
