<div class="hero-body">
<div class="container">
  <section class="hero is-fullheight ">
    <div class="container">
    <div id="motto"
        class="motto">
      <mat-icon class="dark-icon icon-space is-large">web</mat-icon>
    </div>
    <div class="hero-inner">
      <h1 class="subtitle">Hi, my name is</h1>
      <h1 class="title is-1">Jia Wei Ho</h1>
      <hr>
      <h1 class="subtitle">Software Engineer and Full-stack developer with all things web</h1>

    </div>
    <!-- <div class="scroll-down">
      <button mat-button
          color="primary"
          aria-label="Scroll down"
          (click)="scrollToSection('about')">
        <mat-icon class="dark-icon">expand_more</mat-icon>
      </button>
    </div> -->
  </div>
  </section>
  <section class="section is-medium">
    <div class="container">
      <app-about id="about" #about></app-about>
    </div>
  </section>
</div>
</div>