<div class="hero-body">
<div class="container">
  <app-section-header title="Jia Wei Ho" subtitle="Software Engineer"></app-section-header>
  <section class="section">
    <div class="container">
      <app-about id="about" #about></app-about>
    </div>
  </section>
  <!-- <section class="section">
    <div class="container">
      <app-about id="about" #about></app-about>
    </div>
  </section>
  <section class="section">
    <div class="container">
      <app-about id="work" #work></app-about>
    </div>
  </section>
  <section class="section is-medium">
    <div class="container">
      <app-projects id="projects" #projects></app-projects>
    </div>
  </section> -->
</div>
</div>